.Banner {

  background-color: #6b2146;

  color: white;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 8px;
}

.Banner-subtext {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 15px;
}


.event-cardCD {
  padding: 24px;
  max-width: 800px;
  margin: auto;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-field {
  margin-bottom: 25px;
}

.primary-button1 {
  background-color: #6b2146 !important;
  color: white !important;
  padding: 10px 25px;
  border-radius: 6px;
}

.primary-button1:hover {
  background-color: #571938 !important;
}

/* .banner {
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
} */

